*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    min-height:100vh;
    background-image:url("images/background.png");
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.navbar{
    height:90px;
    background:#fff;
    border-top:3px solid #2ca7df;
}

.container{
    width:1200px;
    height:100%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo img{
    height:70px;
}

.menu{
    list-style:none;
    display:flex;
    align-items:center;
    gap:30px;
}

.menu > li{
    position:relative;
}

.menu > li > a{
    display:flex;
    align-items:center;
    gap:6px;
    padding:35px 0;
    color:#17335C;
    text-decoration:none;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.menu > li > a:hover{
    color:#2ca7df;
}

.submenu{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    width:220px;
    background:#fff;
    list-style:none;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    z-index:1000;
}

.dropdown:hover > .submenu{
    display:block;
}

.submenu li:not(:last-child){
    border-bottom:1px solid #e5e7eb;
}

.submenu li a{
    display:block;
    padding:16px 20px;
    color:#17335C;
    text-decoration:none;
    font-weight:600;
}

.submenu li a:hover{
    background:#f5f7fb;
    color:#2ca7df;
}

.mega-menu{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    width:650px;
    background:#fff;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    padding:28px;
    grid-template-columns:1fr 1fr;
    gap:40px;
    z-index:1000;
}

.dropdown:hover > .mega-menu{
    display:grid;
}

.mega-column h4{
    color:#17335C;
    font-size:18px;
    margin-bottom:12px;
    padding-bottom:10px;
    border-bottom:2px solid #2ca7df;
}

.mega-column a{
    display:block;
    padding:10px 0;
    color:#17335C;
    text-decoration:none;
    font-size:15px;
    font-weight:600;
}

.mega-column a:hover{
    color:#2ca7df;
}

.button{
    display:flex;
    align-items:center;
    gap:8px;
    padding:14px 24px;
    background:#FB923C;
    color:#fff;
    text-decoration:none;
    font-weight:700;
    border-radius:8px;
    transition:.3s;
}

.button:hover{
    background:#F97316;
}

.button i{
    font-size:16px;
}
